
<h1>Genel Bilgiler</h1>
<div class="row">
  <label for="" class="col-2">Site Adı</label>
  <p class="col-10">{{site.adi}}</p>
</div>
<div class="row">
  <label for="" class="col-2">Adres</label>
  <p class="col-10">{{site.adres.adres}}</p>
</div>
<div class="row">
  <label for="" class="col-2">Tel No</label>
  <p class="col-10">{{site.tel}}</p>
</div>
<div class="row">
  <label for="" class="col-2">İl</label>
  <p class="col-10">{{site.adres.sehir}}</p>
</div>
<div class="row">
  <label for="" class="col-2">İlçe</label>
  <p class="col-10">{{site.adres.ilce}}</p>
</div>
<div class="row">
  <label for="" class="col-2">Manipulasyon KatSayısı</label>
  <p class="col-10">{{site.manipulasyonKatsayisi}}</p>
</div>
<div class="row">
  <label for="" class="col-2">Durum </label>
  <p class="col-10">{{site.aktifMi}}</p>
</div>

<h1>Yönetici Bilgileri</h1>
<div class="row">
  <label for="" class="col-2">Adı Soyadı</label>
  <p class="col-10">{{site.yonetici.adi}}</p>
</div>
  <div class="row">
    <label for="" class="col-2">Telefon Numarası</label>
    <p class="col-10"> {{site.yonetici.tel}}</p>
  </div>
<div class="row">
  <label for="" class="col-2">Kullanıcı Adı</label>
  <p class="col-10">{{site.yonetici.kullanici.adi}}</p>
</div>
<div class="row">
  <label for="" class="col-2">Şifre</label>
  <p class="col-10">{{site.yonetici.kullanici.sifre}}</p>
</div>



